﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>获取服务器端环境变量</title>
</head>
<body style="font-weight: bold; color: blue; font-family: 隶书; text-align: left; background-color: #ffffcc;">
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
