﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>使用iframe布局</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe src="tangshi1.aspx"></iframe>
    <iframe src="tangshi2.aspx"></iframe>
    </div>
    </form>
</body>
</html>
