﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tangshi1.aspx.cs" Inherits="tangshi1" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登鹳雀楼</title>
</head>
<body style="background-color: #C0C0C0">
    <form id="form1" runat="server">
    <div>
    <h2 style="text-align: center">登鹳雀楼</h2>
        <p style="text-align: center">
            白日依山尽，黄河入海流。<br />欲穷千里目，更上一层楼。
        </p>
    </div>
    </form>
</body>
</html>
