﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tangshi2.aspx.cs" Inherits="tangshi2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>鹿柴</title>
</head>
<body style="background-color: #FFCC99">
    <form id="form1" runat="server">
    <div>
    <h2 style="text-align: center">鹿柴</h2>
        <p style="text-align: center">
            空山不见人，但闻人语响。<br />返景入深林，复照青苔上。
        </p>
    </div>
    </form>
</body>
</html>
