﻿<%@ Page Title="" Language="C#" MasterPageFile="~/sy5-1.master" AutoEventWireup="true" CodeFile="sy5-1-2.aspx.cs" Inherits="sy5_2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Image ID="Image1" runat="server" ImageUrl="images/shf.png" Width="200px" Height="200px"/>
</asp:Content>
